

header {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 4px solid #0F5F8A; */
  padding: 20px 40px;
  align-items: center;

}

h2 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .05em;  
}

.name {
  font-size: 16px;  
  font-weight: 700;
}

.name-and-logo {
  display: flex;
}

.logo-container {
  border: 2px solid #F9F9F9;
  width: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  padding: 4px;
  margin-right: 4px;
}

a {
  text-decoration: none;
  margin-right: 20px;
  color: #F9F9F9;
}

a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #0F5F8A;
  font-weight: bold;
}


.site-title {
  margin-top: 40px;
  border-bottom: 2px solid #0F5F8A;
  display: inline-block;
  font-weight: 300;
}

.intro {
  margin: 20px 20px 0 20px;
  line-height: 1.2em;
  letter-spacing: .05em

}

.nav-buttons-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.nav-button {
  width: 33.2%;
  height: 200px;
  /* border: 2px solid magenta; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #045F8C;
  flex-direction: column;
}

.nav-button:hover {
  background-color: rgb(2, 68, 100);
}

.nav-button-icon {
  height: 80px;
  width: 80px;
  background-size: contain;
  margin-bottom: 8px;
  background-repeat: no-repeat;
}

.nav-button:hover > .nav-button-icon{
  height: 90px;
  width: 90px;
}

.nav-button:hover > p {
  font-size: 20px;
}

.nav-button-info {
  background-image: url('./info-2-128.png')
}

.nav-button-portfolio {
  background-image: url('./website-design-3-128.png')
}

.nav-button-contact {
  background-image: url('./email-14-128.png');
}



.page-header {
  background-color: #F9F9F9;
  color: #0F5F8A;
  padding: 20px 40px;
}

.homepage {
  padding: 0 40px;
}

.about-text {
  padding: 0 40px;
  margin-top: 40px;
  line-height: 1.3em;
  letter-spacing: .05em
}

.contact-page {
  padding: 20px 40px;
}

h4 {
  margin-bottom: 8px;
}

