header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: 700;
}

.name-and-logo {
  display: flex;
}

.logo-container {
  border: 2px solid #F9F9F9;
  width: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  padding: 4px;
  margin-right: 4px;
}

.home-link:hover {
  border: none;
  padding: 0;
}

nav > a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #0F5F8A;
}

nav > a:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  .home-link {
    margin-bottom: 20px;
  }
  .name-and-logo {
    flex-direction: column;
    align-items: center;
  }
  .logo-container {
    margin: 0;
    margin-bottom: 5px;
  }
  .title {
    text-align: center;
  }
}